<!DOCTYPE html>
<html lang="en">
<style>
table, th, td {
  border: 1px solid black;
}
</style>

<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/profile.css') }}">

<div class="topnav">
  <a href="feed.html">Feed</a>
  <a class="active" href = "#">My Profile</a>
  
  <button id = "logOut" type="button" class="float-left submit-button" style = "margin-left: 76%; margin-top: 0.8%;position: absolute">Log Out</button>
</div>

<div class="card">
  <form action="/save_profile" method="post">
  <p id="profile_info" name="profile_info">
    {% for p in profile_info %}
      <strong>User Id</strong>: {{user_id}}
      <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
      <br></br>
      <strong>First Name</strong>: <input id="first_name" name = "first_name" value={{p.first_name}}> 
      <br></br>
      <strong>Last Name</strong>: <input id="last_name" name = "last_name" value={{p.last_name}}>
      <br></br>
      <strong>Contact Info</strong>: <input id="contact_info" name = "contact_info" value={{p.contact_info}}>
      <br></br>
      <strong>School name</strong>: {{p.school_name}}
      <br></br>
      <strong>Interest</strong>: {{p.interests}}
      <br></br>
      <strong>Company</strong>: {{p.company_name}}
      <br></br>
      <strong>Position</strong>: {{p.position}}
      <br></br>
      <strong>Description</strong>:
      <br></br>
      <textarea id="description" name="description" rows="4" cols="50">
      {{p.description}}
      </textarea>
    {% endfor %}
  </p>
  <input type="submit" value="Save change">
  </form>
  <br></br>


  <div id="job_info" name="job_info">
    <h3>List of referral requests you sent</h3>
    <table>
      <tr>
        <th>User Id</th>
        <th>Company</th>
        <th>Interested positions</th>
      <tr>
    <tr>
    {% for j in job_info %}
      <td>{{ j.referred_user }}</td>
      <td>{{ j.company_name }}</td>
      <td>{{ j.position_title }}</td>
    </tr>
    {% endfor %}
    </table>
  </div>


  <div id="like_info" name="like_info">
    <h3>List of student who sent you likes</h3>
    <table>
      <tr>
        <th>User Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Skills</th>
        <th>Contact Information</th>
        <th>Profile link</th>
      <tr>
    <tr>
    {% for j in like_info %}
      <td>{{ j.user_id }}</td>
      <td>{{ j.first_name }}</td>
      <td>{{ j.last_name }}</td>
      <td>{{ j.skills }}</td>
      <td>{{ j.contact_info }}</td>
      <td> <a style="text-decoration: none;" href="/profile/{{j.user_id}}"> Link </a>  <td>
    </tr>
    {% endfor %}
    </table>
  </div>

</div>

</html>
<script>
  document.getElementById("logOut").onclick = function () {
      location.href = "/";
  };
</script>