<html>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/feed.css') }}">
    <div class="topnav">
        <a class="active" href="#feed">Feed</a>
        <a href="#" onclick="profileFunction();">Profile</a>
        <input type="text" placeholder="Search keywords...">
        <button id = "logOut" type="button" class="float-left submit-button">Log Out</button>
      </div>

    <div class="filter" width = "20%">
        <label for="filter">Filter feed:</label><br>
        <!-- <label for="uname"><b>Username</b></label> -->
        <form method="POST" width = auto margin = auto action ="/filter">
        <select id ="filter" type="text" name="filter-user">
            <option value="all" selected>All</option>
            {% for item in filter_lst %}
            <option value="{{item}}">{{item}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Filter" >
        </form>

    </div>
    <div class="user_blob" >
        {% for item in data %}
        <div class="row">
            
            <div>
                <img class = "user_img" src={{item.img}} alt="user image" height = "80%" > 
            </div>
            <div>
                <p><h3>{{item.name}}</h3></p>
                <p>{{item.co_key}}:{{item.company}}</p>
                <p> {{item.pos_key}}:{{item.position}}</p>
            </div>
            <a href= "/profile/{{item.id}}" onclick="viewProfile()">
                <span class="link"></span></a>
        </div>
        {% endfor %}
        
     </div>


 
  <script>
    document.getElementById("logOut").onclick = function () {
        location.href = "/";
    };


    console.log('{{session.user_group}}');
    console.log('{{session.userid}}');

    function profileFunction(){
        if ('{{session.user_group}}' === 'Employee') {
            window.location.href = "employee_profile"
        } else if  ('{{session.user_group}}' === 'Student') {
            window.location.href = "student_profile"
        };
    };

    function viewProfile(){
        var img =  document.getElementsByTagName("img").src;
        $.ajax({
            url: '/profile/<user_id>',
            type: 'POST',
            img: img
        }); 
        console.log(img);
    };
</script>
</html>