<html>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/feed.css') }}">
    <div class="topnav">
        <a class="active" href="#feed">Feed</a>
        <a href="profile.html">Profile</a>
        <input type="text" placeholder="Search keywords...">
        <button id = "logOut" type="button" class="float-left submit-button">Log Out</button>
      </div>

    <div class="filter">
        <input type="radio" id="filter1" name="filter_group" value=filter_aatr1>
        <label for="filter1">filter1</label>
        <input type="radio" id="filter2" name="filter_group" value="filter_aatr2">
        <label for="filter2">filter2</label>
    </div>
    <div class="page">
        {% for item in data %}
        <div class="row">
            <img src={{item.img}} alt="">
            <h3>{{item.name}}</h3><br>
            <p>Email: {{item.email}}</p>
        </div>
        {% endfor %}

     </div>


  </html>
  <script type="text/javascript">
    document.getElementById("logOut").onclick = function () {
        location.href = "/";
    };
</script>