<html>
    <head>


    </head>
    <body>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

        
        <div id = "login-page"> 

          
            <div class="imgcontainer"> 
               
                <img src= "{{ url_for('static',filename='images/touch.png') }}" alt="touchstone" height= "136px" width= "500px"> 
            </div>

            
    
            <form action="/login" method="post" width = auto margin = auto>
                {% for mesg in data %}
                <h1>{{ mesg }}</h1>
                {% endfor %}
            
                <div class = "tab-child">

                    <h2 class = "sub-header">Sign In</h2>

                    <div class="container" width = auto>
                        <!-- <label for="uname"><b>Username</b></label> -->
                        <input id ="login-user" type="text" placeholder="Email/Username" name="uname" required value>
                    </div>

                    <div class="container" width = auto> 
                        <!-- <label for="psw"><b>Password</b></label> -->
                        <input id ="login-psw" type="password" placeholder="Password" name="psw" required value>
                    </div>

                    <div class="container" width = auto>
                        <button type="submit">Login</button>
                    </div>
                    <h3 class = "sub-header"> Don't have an account?
                        <a href="signup.html"> Sign Up </a>
                    </h3>
                </div>

          </form>

        </div>
    </body>

</html>

