<!DOCTYPE html>
<html lang="en">
<style>
table, th, td {
  border: 1px solid black;
}
</style>


<h1>
    THIS IS A USER PROFILE PAGE for employee info
</h1>

<div id = "employee_profile_view">
  
    User Id: {{data.user_id}}
    <br></br>

    First Name: {{data.first_name}}
    <br></br>

    Last Name: {{data.last_name}}
    <br></br>

    Contact Info: {{data.contact_info}}
    <br></br>

    School name: {{data.school_name}}
    <br></br>

    Company: {{data.company_name}}
    <br></br>

    Position: {{data.position}}
    <br></br>

    Interest: {{data.interests}}
    <br></br>

    Description:
    <p>{{data.description}}</p>
    
    <br></br>

</div>


</html>