<!DOCTYPE html>
<html lang="en">
<style>
table, th, td {
  border: 1px solid black;
}
/*for background color*/
body {
  background-color: #ddd;
}
</style>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/message.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/profile.css') }}">

<body>
  
<div id = "student_profile_view" class="border_card"> 

{% block content %}
<div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}

    <div class="alert alert-{{category}}"> {{ message }}</div>    
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
  
    <strong>User Id</strong>: {{data.user_id}}
    <br></br>
    <strong>First Name</strong>: {{data.first_name}}
    <br></br>
    <strong>Last Name</strong>: {{data.last_name}}
    <br></br>
    <strong>Contact Info</strong>: {{data.contact_info}}
    <br></br>
    <strong>School name</strong>: {{data.school_name}}
    <br></br>
    <strong>Interest</strong>: {{data.interests}}
    <br></br>
    <strong>Description</strong>:
    <p>{{data.description}}</p>
    

    <h3>Refer {{data.first_name}} for...</h3>
    <table>
      <tr>
        <th>Company</th>
        <th>Interested positions</th>
      <tr>
        <tr>
        {% for j in data.interested_position %}
        <form action='/refer' method='POST'>
        <input type="hidden" name="refer_user_id" id="refer_user_id" value="{{ data.user_id }}">
          <td>{{ j[1] }}</td>
          <input type="hidden" name="company_interested" id="company_interested" value="{{ j[2] }}">
          <td>{{ j[0] }}</td>
          <input type="hidden" name="position_interested" id="position_interested" value="{{ j[0] }}">
          <td><button> Refer </button></td>
        </tr>
        </form>
        {% endfor %}
    </table>
    <br></br>

    <button><a style="text-decoration: none;" href="/feed.html">Exit</a></button>

</div>
</body>

</html>
