<html>
    <body>
        <div class="signup">
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signup.css') }}">

           

            <form method="POST" width = auto margin = auto action ="/add">
            <div class="container" width = auto>
                <label for="username">Username:</label><br>
                <!-- <label for="uname"><b>Username</b></label> -->
                <input id ="username" type="text" placeholder="Username" name="username-user" required value>
            </div><br>
            {% for mesg in data %}
                <h3>{{ mesg }}</h3>
                {% endfor %}
            <div class="container" width = auto>
                <label for="pswd">Password:</label><br>
                <!-- <label for="uname"><b>Username</b></label> -->
                <input id ="pswd" type="password" placeholder="Password" name="password-user" required value><br><br>
                <label for="verifypswd">Confirm password:</label><br>
                <!-- <label for="uname"><b>Username</b></label> -->
                <input id ="verifypswd" type="password" placeholder="Password" name="verify-password-user" required value>
            </div><br>
            <div class="container" width = auto>
                <label for="fname">First name:</label><br>
                <!-- <label for="uname"><b>Username</b></label> -->
                <input id ="fname" type="text" placeholder="First Name" name="firstname-user" required value>
            </div><br>
            <div class="container" width = auto>
                <label for="lname">Last name:</label><br>
                <!-- <label for="uname"><b>Username</b></label> -->
                <input id ="lname" type="text" placeholder="Last Name" name="lastname-user" required value>
            </div><br>
            <div class="container" width = auto>
                <label for="usercontact">Contact Information:</label><br>
                <!-- <label for="uname"><b>Username</b></label> -->
                <input id ="usercontact" type="text" placeholder="Contact" name="contact-user" required value>
            </div><br>



            <div class="container" width = auto>
                <label for="userbio">Description:</label><br>
                <!-- <label for="uname"><b>Username</b></label> -->
                <textarea id ="userbio" placeholder="Description" name = "bio-user" rows = "10" cols = "30" style="font-style: auto;"> </textarea>
            </div><br>

            <div class="container" width = auto>
                <label for="school">Columbia University School:</label><br>
                <!-- <label for="uname"><b>Username</b></label> -->
                <select id ="school" type="text" placeholder="Select School" name="school-user" required value>
                    {% for school in schools %}
                    <option value={{school.id}}>{{school.name}}</option>
                    {%endfor%}
                </select>
            </div><br>

            <label for="interests">Interests/Keywords:</label><br>
            <select id="interests" name="userinterests" multiple style="font-style: auto;"> <!-- size="4" -->
                <option value="ML">Machine Learning</option>
                <option value="DS">Data Science</option>
                <option value="webdev">Web Development</option>
                <option value="AI">Artificial Intelligence</option>
                <option value="dbm">Database Management</option>
                <option value="dataviz">Data Visualization</option>
                <option value="cyber">Cyber Security</option>
            </select><br>
            <br>

            <label for="radio">User Group:</label><br>
            <input type="radio" id="student" name="user_group" value=Student>
            <label for="student">Student</label><br>
            <input type="radio" id="employee" name="user_group" value="Employee">
            <label for="employee">Employee</label><br>
            <br>
            <input type="submit" value="Add" >
            </form>
        </div>
    </body>
</html>


  

