<!DOCTYPE html>
<html lang="en">
<style>
table, th, td {
  border: 1px solid black;
}

</style>


<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/profile.css') }}">


<div class="topnav">
  <a href="feed.html">Feed</a>
  <a class="active" href = "#">My Profile</a>
  
  <button id = "logOut" type="button" class="float-left submit-button" style = "margin-left: 76%; margin-top: 0.8%; position: absolute">Log Out</button>
</div>

<div class="card">


<form action="/save_profile" method="post">

  <p id="profile_info" name="profile_info">

    {% for p in profile_info %}
      User Id: {{user_id}}
      <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">

      <br></br>

      First Name: <input id="first_name" name = "first_name" value={{p.first_name}}> 
      <br></br>

      Last Name: <input id="last_name" name = "last_name" value={{p.last_name}}>
      <br></br>

      Contact Info: <input id="contact_info" name = "contact_info" value={{p.contact_info}}>
      <br></br>

      School name: {{p.school_name}}
      <br></br>

      Description:
      <br></br>
      <textarea id="description" name="description" rows="4" cols="50">
      {{p.description}}
      </textarea>

    {% endfor %}
</p>
<input type="submit" value="Save change"> 
</form>


<br></br>

<form action='/save_interest' method="POST">

    <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
    <h4>Add additional positions at given company you are interested in:</h4>
    {{ form.csrf_token }}
    {{ form.company_name }}
    {{ form.position_title }}

    <input type="submit" value="Add"> 

    <br/><br/>

  </form>

  <script>
      let company_select = document.getElementById('company_name');
      let position_select = document.getElementById('position_title');

      company_select.onchange = function(){
          company = company_select.value;
          
          fetch('/position_title/' + company).then(function(response){
            response.json().then(function(data){
              let optionHTML ='';

              for (let position of data.position_title){
                optionHTML += '<option value="' + position.title + '">' + position.title + '</option>';
              }
              position_select.innerHTML = optionHTML;
            });
          });
      }

  </script>

<p id="job_info" name="job_info">
    <table>
      <tr>
        <th>Company</th>
        <th>Interested positions</th>
        <th>Received referral?</th>
        <th>Referrer contact information</th>
      <tr>
    <tr>
    {% for j in job_info %}
      <td>{{ j.company_name }}</td>
      <td>{{ j.position_title }}</td>
      <td>{{ j.received_referral }}</td>
      <td>{{ j.employee_contact_info }}</td>
    </tr>
    {% endfor %}

    </table>
</p>

</div>

<button><a style="text-decoration: none;" href="/">Exit</a></button>

</html>

<script>
  document.getElementById("logOut").onclick = function () {
      location.href = "/";
  };
</script>