.alert {
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
}

.alert-error {
  border-color: #ff4d4d;
  background-color: #ff6666 ;
}

.alert-info {
  border-color: #00bd00;
  background-color: #00bd63;
}