.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.border_card {
 border-width:3px;
 border-style:solid;
 border-color:#287EC7;
 max-width: 500px;
 padding: 20px;
 width: 30%;
 height: 105%;
}

form {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  max-width: 500px;
  margin: auto;
  text-align: left;
}

div {
  max-width: 100%;
  margin: auto;
  text-align: left;
}

a {
  max-width: 500px;
  margin: auto;
  /*text-align: left;*/
}


/*button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
*/
button {
  text-decoration: none;
  font-size: 15px;
  color: black;
  text_align: center;
  position: center;
}

table {
  border-collapse: collapse;
  text_align: center;
  padding: 10 px;

}