.card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.borderexample {
 border-width:3px;
 border-style:solid;
 border-color:#287EC7;
 max-width: 500px;
 padding: 20px;
}

form {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  max-width: 500px;
  margin: auto;
  text-align: left;
}

div {
  max-width: 500px;
  margin: auto;
  text-align: left;
}

a {
  max-width: 500px;
  margin: auto;
  text-align: left;
}


/*button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
*/
button {
  text-decoration: none;
  font-size: 15px;
  color: black;
  text_align: center;
  location: center;
}