.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.border_card {
 border-width:3px;
 border: 1px solid black;
 /*border-style:solid;
 border-color:#287EC7;*/
 border-radius: 15px;
 max-width: 500px;
 padding: 60px;
 width: 50%;
 height: 80%;
}

form {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  max-width: 500px;
  margin: auto;
  text-align: left;
}

/*for profile cards*/
div {
  max-width: 100%;
  margin: auto;
  text-align: left;
  background-color: white;
}

a {
  max-width: 500px;
  margin: auto;
  /*text-align: left;*/
}

button {
  text-decoration: none;
  font-size: 15px;
  color: black;
  text_align: center;
  position: center;
}

table {
  border-collapse: collapse;
  text_align: center;
  padding: 10 px;

}